body {
background-color: #fff;
text-align: center;
padding-top: 200px;
margin: auto;
}

#lefty {
	float: left;
}

.Header { 
	list-style-type: none;
	margin: -10;
	padding: -10;
	overflow: hidden;
	background-color: #fff;
	position: absolute;
	display: inline-block;
	top: 20px;
	right: 0;
	width: 100%; 
}

.Footer { 
	list-style-type: none;
	margin: -4;
	padding: -4;
	overflow: hidden;
	background-color: #ededed;
	position: absolute;
	display: inline-block;
	bottom: 0px;
	right: 0;
	width: 100%; 
}

li{
	float: right;
	padding: 7px 8px;

}

a:hover{
	color: #0000
	text-decoration: underline;
}


 input {
 	border-radius: 5px;
 	width: 340px;
 	height: 30px;
 	box-shadow: 5px 5px 5px grey;
 	font: small arial,sans-serif;

 }


.pic{
	display: block;
	float: right;
	font-size: -10;
	padding-right: -20px;
	padding-left: -30px;
	margin-top: 3px;

}

#bell {
	margin-top: -36px;
	margin-left: -12px;
}

